QMainWindow{
background-color: #ffffff;
}
QTabWidget::tab-bar
{
left:0px;
}
QTabWidget::pane
{
background-color: #ffffff;
border-width:1px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

QTabBar::tab{
width: 160px;
height:50px;
font:18px;
background-color: #ffffff;
border-width:1px;
}

QProgressBar {
color: #409EFF;
}
QProgressBar::chunk {
background-color: #409EFF;
}

