ClickLabel{
color: #B0B1B3;
font-size: 17px;
line-height: 17px;
}

ClickLabel[level='normal']:hover{
color: #409EFF;
}

QLabel[level='last'],ClickLabel[level='last'],.lastClickLabel{
color: #000000;
font-family: 'PingFang SC';
font-size: 17px;
font-weight: bold;
}
